<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"\
     crossorigin = "anonymous">
</head>
<!-- ｛｛ ｝ ｝ で書かれた変数はviewsより読み出される-->
<!-- ｛％ url *** ％｝ はurls.pyのurlpatternsに書かれている[name=***]に紐づく -->
<body class="container">
    <h1 class="display-4 text-primary">{{title}}</h1>
    <p class="h5 mt-4">{{msg|safe}}</p>
    <form action="{% url 'index' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="click">
    </form>
    <hr>
    
    <table class="table">
        <tr>
            <th>ID</th>
            <th>装置名</th>
            <th>号機</th>
            <th>乾燥時間</th>
            <th>運転回数</th>
            <th>運転時間（分）</th>
            <th>運転時間（秒）</th>
            <th>ガス使用量</th>
            <th>日付（月）</th>
            <th>日付（日）</th>
        </tr>
    <!--  データベースで読み出した変数dataをitemに転送しデータ分forで回す-->
    {% for item in data %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.machine_name }}</td>
            <td>{{ item.unit_no }}</td>
            <td>{{ item.drying_time }}</td>
            <td>{{ item.run_count }}</td>
            <td>{{ item.run_time_m }}</td>
            <td>{{ item.run_time_s }}</td>
            <td>{{ item.gas_usage }}</td>
            <td>{{ item.date_m }}</td>
            <td>{{ item.date_d }}</td>
        </tr>
    
    
    {% endfor %}

    </table>
</body>
</html>